@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&family=Open+Sans:wght@300;400;500&family=Quicksand:wght@500;600;700&family=Rubik+Bubbles&display=swap");
select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
  border-color: #F4BFBF !important;
  border-width: 3px !important;
  outline: none !important;
}

select:focus {
  border-color: #8CC0DE !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form-control {
  border-width: 3px !important;
  border-color: #F4BFBF !important;
}

.form-control:focus {
  border-color: none !important;
  border-width: 3px;
  outline: none !important;
  -webkit-box-shadow: 0 0 0 0.25rem #f4bfbf84 !important;
          box-shadow: 0 0 0 0.25rem #f4bfbf84 !important;
}

body {
  margin: 0;
  font-family: "Baloo Bhaijaan 2", cursive;
  font-weight: 700;
  color: #676767;
  overflow-x: hidden;
}

.btn {
  padding: 0.5em;
  background-color: #8CC0DE;
  color: #fff;
  font-weight: 700;
  font-family: "Baloo Bhaijaan 2", cursive;
  border: none;
  position: relative;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
          box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.btn:hover {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  background: #abd5ed;
  color: #fff;
}

.btn:focus {
  background: #8CC0DE;
  color: #fff;
}

.btn::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0 0 10px 40px #cecece;
          box-shadow: 0 0 10px 40px #cecece;
}

.btn:active::after {
  -webkit-box-shadow: 0 0 0 0 #8CC0DE;
          box-shadow: 0 0 0 0 #8CC0DE;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
}

a.link {
  text-decoration: none !important;
  color: #676767 !important;
  text-align: center;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

small a.link {
  text-decoration: none !important;
  color: #676767 !important;
  text-align: center;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

small a.link::before, small a.link::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

small a.link::before {
  background-color: #8CC0DE;
  height: 3px;
  border-radius: 33px;
  bottom: 0;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1), -webkit-transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

small a.link::after {
  content: attr(data-replace);
  height: auto;
  bottom: 0;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translate3d(200%, 0, 0);
          transform: translate3d(200%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1), -webkit-transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #8CC0DE;
}

small a.link:hover::before {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

small a.link:hover::after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

small a.link span {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1), -webkit-transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

small a.link:hover span {
  -webkit-transform: translate3d(-200%, 0, 0);
          transform: translate3d(-200%, 0, 0);
}

.navbar {
  color: #676767 !important;
}

.navbar .navbar-toggler {
  border: none !important;
  color: #F4BFBF !important;
  -webkit-transition: 0.3s !important;
  transition: 0.3s !important;
}

.navbar .navbar-toggler:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #676767 !important;
}

.navbar .navbar-toggler:hover {
  color: #676767 !important;
  opacity: 1;
}

.navbar .navbar-nav {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
}

.navbar .navbar-nav .nav-line {
  position: relative;
}

.navbar .navbar-nav .nav-line::before {
  -webkit-transition: 300ms;
  transition: 300ms;
  height: 5px;
  content: "";
  opacity: 1;
  position: absolute;
  border-radius: 10px;
  background-color: #FFD9C0;
}

.navbar .navbar-nav .nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.navbar .navbar-nav .nav-link-ltr:hover {
  color: #F4BFBF;
}

.navbar .navbar-nav .nav-link-ltr:hover::before {
  width: 100%;
}

.navbar .navbar-nav .nav-link-ltr:active {
  color: #F4BFBF;
}

.navbar .navbar-nav .nav-link-ltr:active::before {
  width: 100%;
}

.navbar .navbar-nav .nav-link-ltr:focus {
  color: #F4BFBF;
}

.navbar .navbar-nav .nav-link-ltr:focus::before {
  width: 100%;
}

.navbar .btn:hover {
  outline: none;
  border: none;
}

.navbar .btn:focus {
  border: none;
}

.navbar p a {
  color: #8CC0DE;
  -webkit-transition: 0.3s !important;
  transition: 0.3s !important;
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
}

.navbar p a:hover {
  color: #676767;
}

#home h1 {
  font-family: "Rubik Bubbles", cursive;
}

#home h1 span {
  color: #F4BFBF;
}

#home p {
  font-family: "Open Sans", sans-serif;
  color: #676767;
  opacity: .7;
  font-weight: 500;
}

#home .star-1 img {
  top: 1rem;
  left: 35%;
}

#home .star-2 img {
  top: 45%;
  left: 6%;
}

main .harga {
  color: #676767;
  font-family: "Open Sans", sans-serif;
  font-weight: normal !important;
}

main .ctr-sku {
  font-family: "Open Sans", sans-serif;
  color: #FAF0D7;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
}

main .btn-product {
  color: #8CC0DE;
  text-decoration: none;
  padding: .5rem 2rem;
  background-color: #676767;
  border-radius: 2rem;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

main .btn-product:hover {
  color: #F4BFBF;
  background: #FAF0D7;
}

main .card {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

main .card:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

main .card .card-text {
  font-size: 14px;
}

main .card .card-body {
  background-color: #F4BFBF;
  border-radius: 0 0 2rem 2rem;
}

main .owl-stage {
  padding: 2rem 0;
}

main .ornaments .ornament {
  left: -230px;
  top: 17px;
  -webkit-transform: rotate(-14.53deg);
          transform: rotate(-14.53deg);
}

main .ornaments .ornament img {
  width: 297.52px;
  height: 185.01px;
}

main .ornaments .ornament2 {
  z-index: 12;
  right: -230px;
  top: -23px;
  -webkit-transform: rotate(-14.53deg);
          transform: rotate(-14.53deg);
  background-image: url("/img/starorn.svg");
  width: 297.52px;
  height: 185.01px;
}

main #categories h3 {
  color: #676767;
  font-weight: 700;
}

main #categories .c4-izmir {
  --primary-color: #F4BFBF !important;
  --secondary-color: #D0206E;
  --transition-duration: 500ms;
  --border-width: 6px;
  --overlay-opacity: 1 !important;
  --image-opacity: 0;
  border-radius: 56px;
}

main #categories .c4-izmir .line {
  background-color: #676767;
  height: 3px;
  width: 25%;
  border-radius: 30px;
}

main #categories .c4-izmir:hover {
  border-radius: 50px;
  background: linear-gradient(145deg, #F4BFBF, #F4BFBF);
  -webkit-box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

main #newArrival {
  overflow-x: hidden;
  color: #676767;
}

main #newArrival h2 {
  color: #F4BFBF;
  font-weight: 700;
}

main #newArrival h2 span {
  color: #FFD9C0;
}

main #newArrival p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

main #whatWeDo .orn img {
  margin-top: -4rem;
}

main #whatWeDo .orn h2 {
  font-weight: 700;
  color: #F4BFBF;
}

main #whatWeDo .orn h2 span {
  color: #FFD9C0;
}

main #whatWeDo .wwd-img {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 100%;
  height: 10rem;
  border-radius: 66px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main #whatWeDo .wwd-img img {
  max-width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
}

main #whatWeDo .col-8.second p:first-child {
  color: #676767;
  opacity: .3;
  font-size: .7rem;
  font-family: "Baloo Bhaijaan 2", cursive;
}

@media screen and (min-width: 768px) {
  main #whatWeDo .col-8.second p:first-child {
    height: 100%;
  }
}

main #whatWeDo .col-8.second h2 {
  font-family: "Rubik Bubbles", cursive;
  color: #8CC0DE;
}

main #whatWeDo .col-8.second h2 span {
  color: #676767;
}

main #whatWeDo .col-8.second p {
  color: #676767;
  opacity: .58;
  font-family: "Quicksand", sans-serif;
}

main #whatWeDo .col-11:last-child h5 {
  color: #F4BFBF;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

main #whatWeDo .col-11:last-child p {
  color: #8CC0DE;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

main #discount .img-box {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 50vh;
}

@media screen and (min-width: 768px) {
  main #discount .img-box {
    height: 100%;
  }
}

main #discount .wrapper {
  background-color: #F4BFBF;
}

main #discount .wrapper h1 {
  font-family: "Rubik Bubbles", cursive;
  color: #FAF0D7;
  font-size: 40px;
}

@media screen and (min-width: 768px) {
  main #discount .wrapper h1 {
    font-size: 40px;
  }
}

main #discount .wrapper h1 span {
  color: #676767;
}

main #discount .wrapper p {
  color: #fff;
}

main #whyUs h2 {
  color: #F4BFBF;
  font-weight: 700;
}

main #whyUs h2 span {
  color: #FFD9C0;
}

main #whyUs p {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #676767;
}

main #whyUs .wrappers {
  color: #F4BFBF;
}

main #whyUs .wrappers:nth-child(even) {
  color: #8CC0DE;
}

main #whyUs .wrappers:nth-child(even) .wrapper {
  background: #8CC0DE;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

main #whyUs .wrappers:nth-child(even) .wrapper:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: #8cc0de80 0px 7px 29px 0px;
          box-shadow: #8cc0de80 0px 7px 29px 0px;
}

main #whyUs .wrappers .wrapper {
  display: block;
  width: 100%;
  height: auto;
  background-color: #F4BFBF;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  text-align: center;
}

main #whyUs .wrappers .wrapper:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: #f4bfbf4a 0px 7px 29px 0px;
          box-shadow: #f4bfbf4a 0px 7px 29px 0px;
}

main #whyUs .wrappers .wrapper img {
  margin-top: 0px;
}

main #products {
  overflow-x: hidden;
}

main #products .container h2 {
  font-weight: 700;
  color: #F4BFBF;
}

main #products .container h2 span {
  color: #FFD9C0;
}

#getintouch h2 {
  color: #F4BFBF;
  font-weight: 700;
}

#getintouch h2 span {
  color: #FFD9C0;
}

footer #footer .container-fluid .wrapper {
  background-color: #676767;
  border-radius: 56px 56px 0 0;
}

footer #footer .container-fluid .wrapper .title {
  font-family: "Rubik Bubbles", cursive;
}

footer #footer .container-fluid .wrapper .title span {
  color: #FFD9C0;
}

footer #footer .container-fluid .wrapper .desc {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

footer #footer .container-fluid .wrapper .desc i {
  color: #FAF0D7;
}

footer #footer .container-fluid .wrapper .desc li {
  margin-top: .4rem;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

footer #footer .container-fluid .wrapper .desc li:hover {
  color: #F4BFBF;
}

footer #footer .container-fluid .wrapper .desc li:hover i {
  color: #F4BFBF;
}
/*# sourceMappingURL=main.css.map */